#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.header {
  background-image: url("assets/img/banner.jpg");
  height: 70vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay-1 {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.overlay-2 {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
}

.hero-section {
  width: 100%;
  height: calc(100% - 88px);
}

.tv-video {
  width: 1000px;
}
.tv-image {
  width: 1000px;
}
.mob-image {
  width: 1000px;
}

.boxshot-box {
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2em 0 rgb(0, 0, 0);
}

.download-animation {
  /* margin-left: 30px; */
  background-image: url("assets/vid/download-icon.gif");
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.content-box {
  transition: all 0.5s ease-in-out;
}

.input-box {
  background-color: rgba(29, 36, 50, 0.5);
}

.input-box > input {
  outline: none;
  width: 100%;
}

.input-box > input::placeholder {
  color: whitesmoke;
}

.footer {
  color: rgba(255, 255, 255, 0.7);
}
